<!doctype html>
<html>
<head>
<title>test</title>
</head>
<body>
  
<div id="debug"></div>

<br/>1
<br/>2
<br/>3
<br/>4
<br/>5
<br/>5
<br/>6
<br/>7
<br/>8
<br/>9
<br/>0
<br/>1
<br/>2
<br/>3
<br/>4
<br/>5
<br/>6
<br/>7
<br/>8
<br/>9
<br/>0
<br/>1
<br/>2
<br/>3
<br/>4
<br/>5
<br/>6
<br/>7
<br/>8
<br/>9
<br/>0
<br/>1
<br/>2
<br/>3
<br/>4
<br/>5
<br/>6
<br/>7
<br/>8
<br/>9
<br/>0
<br/>1
<br/>2
<br/>3
<br/>4
<br/>5
<br/>6
<br/>7
<br/>8
<br/>9
<br/><p style="width:200%;">0</p>

<script>
var node = document.createElement('script');
node.type = 'text/javascript';
node.async = true;
node.src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js';
// Now insert the node into the DOM, perhaps using insertBefore()
</script>

<script>
var node1 = document.createElement('script');
node1.type = 'text/javascript';
node1.async = true;
node1.src = '{{url_for('static', filename='recorder.js')}}';
// Now insert the node into the DOM, perhaps using insertBefore()
</script>

</body>
</html>